form {
    width: 500px;
    box-shadow: 1px 2px 5px gray;
    padding: 10px;
    text-align: center;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

form * {
    margin: 5px auto;
    width: 250px;
}